<%- include('partials/header.ejs') %>
<canvas id="bg-canvas"></canvas>

<div class="login-container">
  <link rel="stylesheet" href="/css/login.css">

  <div class="login-box">
    <h2>Login</h2>
    <form action="/authenticate" method="POST">
      <div class="input-box">
        <input type="text" name="email"  placeholder="Email">
      </div>

      <div class="input-box">
        <input type="password" name="password"placeholder="Senha" required>
      </div>

      <div class="forgot">
      </div>

      <button type="submit" class="btn">Entrar</button>

      <div class="signup">
        Não tem uma conta? <a href="#">Cadastre-se</a>
      </div>
    </form>
  </div>
</div>

<%- include('partials/footer.ejs') %>
