   <%- include('partials/header.ejs') %>

    <div class="container-model">
 <link rel="stylesheet" href="/css/login.css">

        <div class="model">
<canvas id="bg-canvas"></canvas>

            <h1>Login</h1>
          
            <form action="/authenticate" method="POST">
                <div class="form-group">
                    <label for="username">Usuário</label>
                    <input type="text" id="username" name="email" placeholder="Digite seu nome" required>
                </div>

                <div class="form-group">
                    <label for="name">Senha</label>
                    <input type="password" id="password" name="password" placeholder="Digite seu nome completo" required>
                </div>
                
                <!-- <input type="hidden" name="recaptchaToken" id="recaptchaToken"> -->

                <div class="form-actions">
                    <button type="submit" class="btn">Entrar</button>
                </div>
            </form>
        </div>
    </div>

<%- include('partials/footer.ejs') %>