<%- include('./header.ejs') %>
<link rel="stylesheet" href="/css/agendamento.css">

<!-- Fundo Animado -->
<canvas id="bg-canvas"></canvas>

<form action="/admin/appointment" method="POST" class="form-agendamento">
  <h2>Agendamento de Pré-Cadastro</h2>

  <!--<label for="nome">Nome Completo:</label>
  <input type="text" id="nome" name="nome" required>

  <!-<label for="telefone">Telefone:</label>
  <input type="tel" id="telefone" name="telefone" required placeholder="(00) 00000-0000">
-->
  <label for="data">Data do Agendamento:</label>
  <input type="date" id="data" name="day" required>


    <label for="horario">Local:</label>
  <input type="text" id="horario" name="unitid" required>
  </select>

  <label for="horario">Horário Preferencial:</label>
  <select id="horario" name="turn" required>
    <option value="">Selecione um horário</option>
    <option value="Manhã">Manhã</option>
    <option value="Tarde">Tarde</option>
  </select>

  <label for="vagas">Vagas:</label>
  <select id="vagas" name="wave">
    <option value ="10">10</option>
    <option value ="20">20</option>
    <option value ="30">30</option>
    <option value ="40">40</option>
    <option value ="50">50</option>
  </select>

  <button type="submit" class="btn-agendar">Agendar Cadastro</button>
</form>

<%- include('../partials/footer.ejs') %>

