<%- include('./header.ejs') %>
<canvas id="bg-canvas"></canvas>
<link rel="stylesheet" href="/css/sucess.css">
<div class="success-popup">
  <div class="checkmark-circle">
    <div class="background"></div>
    <div class="checkmark"></div>
  </div>
  <h2>Cadastro realizado com sucesso!</h2>
  <p>Seus dados foram salvos corretamente.</p>
  <a href="appointments" class="btn-voltar">Voltar para o início</a>
</div>

<%- include('../partials/footer.ejs') %>
