<%- include('./header.ejs') %>
<link rel="stylesheet" href="/css/agendamento.css">

<!-- Fundo Animado -->
<canvas id="bg-canvas"></canvas>

<form action="/admin/unit" method="POST" class="form-agendamento">


  <label for="unit">Nome do Local:</label>
  <input type="text" name="unit" id="unit" placeholder="Digite o nome do local aqui">
  <label for="address">Endereço:</label>
  <input type="text" id="address" name="address" placeholder="Digite o endereço do local aqui">


     <button type="submit" class="btn-agendar">Cadastrar</button>
</form>
<%- include('../partials/footer.ejs') %>

